<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/header.ejs %>
<h1><%= title %></h1>
<h3><%= desc %></h3><br><br>
<h3>Hey my name is <%= myName %>, Please do remember me when u need help in node js.... Have  a good day ..!!! </h3>
</body>
</html>
